
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/AzDnsAsCode/.vs/*
library/AzDnsAsCode/AzDnsAsCode/bin/*
library/AzDnsAsCode/AzDnsAsCode/obj/*

# ignore PowerShell Studio MetaData
AzDnsAsCode/AzDnsAsCode.psproj
AzDnsAsCode/AzDnsAsCode.psproj.bak
AzDnsAsCode/AzDnsAsCode.psprojs
AzDnsAsCode/AzDnsAsCode.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*